html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#catalogSelection .multiselect-native-select .btn-group {
    width: 100%;
}

/* Adjust padding for BS5 compatibility if needed */
.multiselect-container .form-check-label {
    padding-left: 0.5em;
}

.multiselect-filter > .input-group > .input-group-text {
    /* BS5 compatibility for search icon */
    background-color: transparent;
    border: none;
}

.multiselect-filter > .input-group > .form-control {
    border-radius: .25rem; /* Ensure search input has rounded corners */
}